workspace/server-app/env-modules/box-env/src/main/resources/ru/argustelecom/box/env/integration/billing/wsdl/MediationToBillingApi.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://argustelecom.ru/box/service/billing/mediation-to-billing"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:ns1="http://argustelecom.ru/ws/fault" name="MediationToBillingApiService"
                  targetNamespace="http://argustelecom.ru/box/service/billing/mediation-to-billing">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://argustelecom.ru/ws/fault"
                   attributeFormDefault="unqualified" elementFormDefault="qualified"
                   targetNamespace="http://argustelecom.ru/ws/fault">
            <xs:complexType name="wsBusinessExceptionInfo">
                <xs:complexContent>
                    <xs:extension base="tns:wsExceptionInfo">
                        <xs:sequence/>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType abstract="true" name="wsExceptionInfo">
                <xs:sequence>
                    <xs:element name="errCode" type="xs:long"/>
                    <xs:element minOccurs="0" name="errText" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="wsSystemExceptionInfo">
                <xs:complexContent>
                    <xs:extension base="tns:wsExceptionInfo">
                        <xs:sequence>
                            <xs:element minOccurs="0" name="causeException" type="xs:string"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:element name="WSBusinessException" nillable="true" type="tns:wsBusinessExceptionInfo"/>
            <xs:element name="WSSystemException" nillable="true" type="tns:wsSystemExceptionInfo"/>
        </xs:schema>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://argustelecom.ru/box/service/billing/mediation-to-billing" xmlns:ns1="http://argustelecom.ru/box/model/billing" elementFormDefault="unqualified" targetNamespace="http://argustelecom.ru/box/service/billing/mediation-to-billing" version="1.0">
            <xs:import namespace="http://argustelecom.ru/box/model/billing"/>
            <xs:element name="completeJob" type="tns:completeJob"/>
            <xs:element name="completeJobResponse" type="tns:completeJobResponse"/>
            <xs:complexType name="completeJob">
                <xs:sequence>
                    <xs:element form="qualified" minOccurs="0" name="chargeJob" type="ns1:iChargeJob"/>
                    <xs:element form="qualified" minOccurs="0" name="report" type="ns1:iReport"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="completeJobResponse">
                <xs:sequence/>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://argustelecom.ru/box/model/billing" elementFormDefault="qualified" targetNamespace="http://argustelecom.ru/box/model/billing" version="1.0">
            <xs:complexType name="iChargeJob">
                <xs:sequence>
                    <xs:element minOccurs="0" name="dataType" type="xs:string"/>
                    <xs:element minOccurs="0" name="filter" type="tns:iFilter"/>
                    <xs:element name="mediationId" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="iFilter">
                <xs:sequence>
                    <xs:element minOccurs="0" name="dateFrom" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="dateTo" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="tariffId" type="xs:long"/>
                    <xs:element minOccurs="0" name="serviceId" type="xs:long"/>
                    <xs:element minOccurs="0" name="processingStage" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="iReport">
                <xs:sequence>
                    <xs:element minOccurs="0" name="iRechargeJob" type="xs:string"/>
                    <xs:element minOccurs="0" name="result" type="tns:iResult"/>
                    <xs:element minOccurs="0" name="iSummary" type="tns:iSummary"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="iSummary">
                <xs:sequence>
                    <xs:element minOccurs="0" name="totalProcessed" type="xs:int"/>
                    <xs:element minOccurs="0" name="success" type="xs:int"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="unsuitable" type="tns:iUnsuitable"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="iUnsuitable">
                <xs:sequence>
                    <xs:element minOccurs="0" name="unsuitableStage" type="xs:string"/>
                    <xs:element minOccurs="0" name="unsuitableQuantity" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:simpleType name="iResult">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="OK"/>
                    <xs:enumeration value="WARN"/>
                    <xs:enumeration value="ERROR"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="WSBusinessException">
        <wsdl:part element="ns1:WSBusinessException" name="WSBusinessException">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="completeJobResponse">
        <wsdl:part element="tns:completeJobResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="completeJob">
        <wsdl:part element="tns:completeJob" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="WSSystemException">
        <wsdl:part element="ns1:WSSystemException" name="WSSystemException">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="MediationToBillingApi">
        <wsdl:operation name="completeJob">
            <wsdl:input message="tns:completeJob" name="completeJob">
            </wsdl:input>
            <wsdl:output message="tns:completeJobResponse" name="completeJobResponse">
            </wsdl:output>
            <wsdl:fault message="tns:WSBusinessException" name="WSBusinessException">
            </wsdl:fault>
            <wsdl:fault message="tns:WSSystemException" name="WSSystemException">
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="MediationToBillingApiServiceSoapBinding" type="tns:MediationToBillingApi">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="completeJob">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="completeJob">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="completeJobResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="WSBusinessException">
                <soap:fault name="WSBusinessException" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="WSSystemException">
                <soap:fault name="WSSystemException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="MediationToBillingApiService">
        <wsdl:port binding="tns:MediationToBillingApiServiceSoapBinding" name="MediationToBillingApiPort">
            <soap:address location="http://localhost:8080/box/service/MediationToBillingApi"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>