workspace/server-app/env-modules/box-env/src/main/resources/ru/argustelecom/box/env/integration/mediation/wsdl/BillingToMediationApi.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://argustelecom.ru/box/service/mediation/billing-to-mediation"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:ns1="http://argustelecom.ru/ws/fault" name="BillingToMediationApiService"
                  targetNamespace="http://argustelecom.ru/box/service/mediation/billing-to-mediation">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://argustelecom.ru/ws/fault"
                   attributeFormDefault="unqualified" elementFormDefault="qualified"
                   targetNamespace="http://argustelecom.ru/ws/fault">
            <xs:complexType name="wsSystemExceptionInfo">
                <xs:complexContent>
                    <xs:extension base="tns:wsExceptionInfo">
                        <xs:sequence>
                            <xs:element minOccurs="0" name="causeException" type="xs:string"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType abstract="true" name="wsExceptionInfo">
                <xs:sequence>
                    <xs:element name="errCode" type="xs:long"/>
                    <xs:element minOccurs="0" name="errText" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="wsBusinessExceptionInfo">
                <xs:complexContent>
                    <xs:extension base="tns:wsExceptionInfo">
                        <xs:sequence/>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:element name="WSSystemException" nillable="true" type="tns:wsSystemExceptionInfo"/>
            <xs:element name="WSBusinessException" nillable="true" type="tns:wsBusinessExceptionInfo"/>
        </xs:schema>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://argustelecom.ru/box/service/mediation/billing-to-mediation" xmlns:ns1="http://argustelecom.ru/box/model/billing" elementFormDefault="unqualified" targetNamespace="http://argustelecom.ru/box/service/mediation/billing-to-mediation" version="1.0">
            <xs:import namespace="http://argustelecom.ru/box/model/billing"/>
            <xs:element name="doRechargeJob" type="tns:doRechargeJob"/>
            <xs:element name="doRechargeJobResponse" type="tns:doRechargeJobResponse"/>
            <xs:element name="processedJob" type="tns:processedJob"/>
            <xs:element name="processedJobResponse" type="tns:processedJobResponse"/>
            <xs:element name="updateUnsuitableCalls" type="tns:updateUnsuitableCalls"/>
            <xs:element name="updateUnsuitableCallsResponse" type="tns:updateUnsuitableCallsResponse"/>
            <xs:complexType name="updateUnsuitableCalls">
                <xs:sequence>
                    <xs:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="calls" type="ns1:iUnsuitableCall"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="updateUnsuitableCallsResponse">
                <xs:sequence/>
            </xs:complexType>
            <xs:complexType name="processedJob">
                <xs:sequence>
                    <xs:element form="qualified" minOccurs="0" name="chargeJob" type="ns1:iChargeJob"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="processedJobResponse">
                <xs:sequence/>
            </xs:complexType>
            <xs:complexType name="doRechargeJob">
                <xs:sequence>
                    <xs:element form="qualified" minOccurs="0" name="chargeJob" type="ns1:iChargeJob"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="doRechargeJobResponse">
                <xs:sequence/>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://argustelecom.ru/box/model/billing" elementFormDefault="qualified" targetNamespace="http://argustelecom.ru/box/model/billing" version="1.0">
            <xs:complexType name="iUnsuitableCall">
                <xs:sequence>
                    <xs:element name="callId" type="xs:long"/>
                    <xs:element minOccurs="0" name="callDate" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="callDirection" type="xs:string"/>
                    <xs:element minOccurs="0" name="duration" type="xs:int"/>
                    <xs:element minOccurs="0" name="cdrUnit" type="xs:string"/>
                    <xs:element minOccurs="0" name="callingNumber" type="xs:string"/>
                    <xs:element minOccurs="0" name="calledNumber" type="xs:string"/>
                    <xs:element minOccurs="0" name="outgoingChannel" type="xs:string"/>
                    <xs:element minOccurs="0" name="outgoingTrunk" type="xs:string"/>
                    <xs:element minOccurs="0" name="incomingChannel" type="xs:string"/>
                    <xs:element minOccurs="0" name="incomingTrunk" type="xs:string"/>
                    <xs:element minOccurs="0" name="releaseCode" type="xs:string"/>
                    <xs:element name="processingStage" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="iChargeJob">
                <xs:sequence>
                    <xs:element minOccurs="0" name="dataType" type="xs:string"/>
                    <xs:element minOccurs="0" name="filter" type="tns:iFilter"/>
                    <xs:element name="mediationId" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="iFilter">
                <xs:sequence>
                    <xs:element minOccurs="0" name="dateFrom" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="dateTo" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="tariffId" type="xs:long"/>
                    <xs:element minOccurs="0" name="serviceId" type="xs:long"/>
                    <xs:element minOccurs="0" name="processingStage" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="updateUnsuitableCallsResponse">
        <wsdl:part element="tns:updateUnsuitableCallsResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="processedJob">
        <wsdl:part element="tns:processedJob" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="WSBusinessException">
        <wsdl:part element="ns1:WSBusinessException" name="WSBusinessException">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="doRechargeJobResponse">
        <wsdl:part element="tns:doRechargeJobResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="updateUnsuitableCalls">
        <wsdl:part element="tns:updateUnsuitableCalls" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="WSSystemException">
        <wsdl:part element="ns1:WSSystemException" name="WSSystemException">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="processedJobResponse">
        <wsdl:part element="tns:processedJobResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="doRechargeJob">
        <wsdl:part element="tns:doRechargeJob" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="BillingToMediationApi">
        <wsdl:operation name="updateUnsuitableCalls">
            <wsdl:input message="tns:updateUnsuitableCalls" name="updateUnsuitableCalls">
            </wsdl:input>
            <wsdl:output message="tns:updateUnsuitableCallsResponse" name="updateUnsuitableCallsResponse">
            </wsdl:output>
            <wsdl:fault message="tns:WSBusinessException" name="WSBusinessException">
            </wsdl:fault>
            <wsdl:fault message="tns:WSSystemException" name="WSSystemException">
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="processedJob">
            <wsdl:input message="tns:processedJob" name="processedJob">
            </wsdl:input>
            <wsdl:output message="tns:processedJobResponse" name="processedJobResponse">
            </wsdl:output>
            <wsdl:fault message="tns:WSBusinessException" name="WSBusinessException">
            </wsdl:fault>
            <wsdl:fault message="tns:WSSystemException" name="WSSystemException">
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="doRechargeJob">
            <wsdl:input message="tns:doRechargeJob" name="doRechargeJob">
            </wsdl:input>
            <wsdl:output message="tns:doRechargeJobResponse" name="doRechargeJobResponse">
            </wsdl:output>
            <wsdl:fault message="tns:WSBusinessException" name="WSBusinessException">
            </wsdl:fault>
            <wsdl:fault message="tns:WSSystemException" name="WSSystemException">
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="BillingToMediationApiServiceSoapBinding" type="tns:BillingToMediationApi">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="updateUnsuitableCalls">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="updateUnsuitableCalls">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="updateUnsuitableCallsResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="WSBusinessException">
                <soap:fault name="WSBusinessException" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="WSSystemException">
                <soap:fault name="WSSystemException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="processedJob">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="processedJob">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="processedJobResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="WSBusinessException">
                <soap:fault name="WSBusinessException" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="WSSystemException">
                <soap:fault name="WSSystemException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="doRechargeJob">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="doRechargeJob">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="doRechargeJobResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="WSBusinessException">
                <soap:fault name="WSBusinessException" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="WSSystemException">
                <soap:fault name="WSSystemException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="BillingToMediationApiService">
        <wsdl:port binding="tns:BillingToMediationApiServiceSoapBinding" name="BillingToMediationApiPort">
            <soap:address location="http://localhost:8080/box/service/BillingToMediationApi"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>